<!-- Hi, you are logged in! -->

<!-- <h1>MapDat</h1>
<p>Find me in app/views/leaflet/index.html.erb</p> -->

<!-- <div id="mapid"></div> -->
<div class="container">
  <%= render "sidebar" %>
  <div id="sideBar-right" class="clicked-right">
    <div class="top-row">
      <h3>Hey there, <%= current_user[:first_name] %></h3>
      <%= button_to "About", method: :get%>
      <%= button_to "Logout", logout_path, method: :get%>
      <%= button_to "Settings", settings_path, method: :get %>
    </div>

    <% if params[:show_poi] == 'false' || params[:show_poi].nil? %>
      <%= button_to "Show Points of Interest", show_poi_path, method: :post, params: { zoom: @zoom } %>
    <% else %>
      <%= button_to "Hide Points of Interest", hide_poi_path, method: :post, params: { zoom: @zoom } %>
    <% end %>

    <% if params[:show_south_study] == 'false' || params[:show_south_study].nil? %>
      <%= button_to "Show me buildings on the south side of campus\n that have both computers and study space.", show_south_study_path, method: :post, params: { zoom: @zoom } %>
    <% else %>
      <%= button_to "Hide Show me buildings on the south side of campus that have both computers and study space.", hide_south_study_path, method: :post, params: { zoom: @zoom } %>
    <% end %>

    <% if params[:show_query3] == 'false' || params[:show_qery3].nil? %>
      <%= button_to "Show buildings with a rating over 3 and has more than 2 restaurants", show_query3_path, method: :post, params: { zoom: @zoom } %>
    <% else %>
      <%= button_to "Show buildings with a rating over 3 and has more than 2 restaurants", show_query3_path, method: :post, params: { zoom: @zoom } %>
    <% end %>
  </div>
  <button type="button" class="account-btn account-clicked" name="button">
    <!-- <img src="" alt=""> -->
  </button>
</div>

<%= map(:center => {
    :latlng => [29.6481, -82.3441],
    :zoom => @zoom
  },
  :polylines => @polylines
) %>

<script>

function toggleLeftSidebar(){
  if( $('#sideBar-left').hasClass('clicked-left')){
    $('#sideBar-left').removeClass('clicked-left');
  } else {
    $('#sideBar-left').addClass('clicked-left');
  }
};

function toggleAccountSidebar(){
  if( $('#sideBar-right').hasClass('clicked-right')){
    $('#sideBar-right').removeClass('clicked-right');
    $('.account-btn').removeClass('account-clicked');
  } else {
    $('#sideBar-right').addClass('clicked-right');
    $('.account-btn').addClass('account-clicked');
  }
};

function sizePopularTimesBars(data){
  var popularTimes = $(".popular-container");
  var popularBars = popularTimes.children();
  for(var i = 0; i < popularBars.length; i++){
    var bar = $("#"+i);
    bar.css("height", (data.pop_times[i].popularity*10)+"%");
  }
}

function fillReviews(data){
  var reviewAvg = $(".title #avg-review");
  var reviewTotal = $(".title .total");
  var stars_full = Math.floor(data.avg_review);
  var stars_half = Math.round(data.avg_review);
  console.log(stars_full, stars_half);
  reviewAvg.text(Math.round(data.avg_review*10)/10);
  reviewTotal.text(data.reviews.length + " reviews");
  for(var i = 1; i <= 5; i++){
    if(i <= stars_full){
      $(".star"+i).addClass("fa-star");
      $(".star"+i).removeClass("fa-star-o");
      $(".star"+i).removeClass("fa-star-half-o");
    } else if(i == stars_half){
      $(".star"+i).addClass("fa-star-half-o");
      $(".star"+i).removeClass("fa-star");
      $(".star"+i).removeClass("fa-star-0");
    } else {
      $(".star"+i).addClass("fa-star-o");
      $(".star"+i).removeClass("fa-star");
      $(".star"+i).removeClass("fa-star-half-o");
    }
  }
}

function fillLeftSidebar(e) {
    var classId = e.target.classList[0];
    var title = $(".title #name");
    var description = $("#description p");
    var image = $(".cover img");

    var floors = $("#floors");
    var outlets = $("#outlets");
    var studying = $("#studying");
    var computers = $("#computers");
    $.getJSON("/info?object_id=" + classId, function(data){
      // console.log(data);
      title.text(data.building.name);
      description.text(data.building.description);
      // Set Image Path
      // image.attr("src", "public/uploads/"+data.building.image_path);
      // Size Popular Times
      sizePopularTimesBars(data);
      // Fill Review Data
      fillReviews(data);
      // Fill Icon Data
      floors.text(data.building.number_of_floors);
      outlets.text(data.building.number_of_outlets);
      // Boolean to indicate if study space
      if(data.building.study_space === 0){
        studying.hide();
      }
      // Boolean to indicate if it has computers
      if(data.building.computers === 0){
        computers.hide();
      }
    });
    $("#review_obj").val(classId);
 };

$(document).ready(function(){
  map.zoomControl.setPosition('bottomright');
 });

$('#leftside-btn').click(function(){
  toggleLeftSidebar();
});

$('.account-btn').click(function(){
  toggleAccountSidebar();
});

$(".leaflet-container").click(function(e){
  // If the item selected in a building
  if(e.toElement.nodeName === "path"){
    // Open left sidebar
    $('#sideBar-left').removeClass('clicked-left');
    fillLeftSidebar(e);
  } else {
    // Close left sidebar
    $('#sideBar-left').addClass('clicked-left');
  }
});

</script>
