<!-- Hi, you are logged in! -->

<!-- <h1>MapDat</h1>
<p>Find me in app/views/leaflet/index.html.erb</p> -->

<!-- <div id="mapid"></div> -->
<div class="container">
  <%= render "sidebar" %>
  <% if params[:show_poi] == 'false' || params[:show_poi].nil? %>
    <%= button_to "Show Points of Interest", show_poi_path, method: :post, params: { zoom: @zoom } %>
  <% else %>
    <%= button_to "Hide Points of Interest", hide_poi_path, method: :post, params: { zoom: @zoom } %>
  <% end %>
  <div id="sideBar-right" class="clicked-right">
    <div class="top-row">
      <h3>Hey there, Vincent!</h3>
      <%= button_to "About", method: :get%>
      <%= button_to "Logout", logout_path, method: :get%>
      <%= button_to "Settings", settings_path, method: :get %>
    </div>
  </div>
  <button type="button" class="account-btn account-clicked" name="button">
    <!-- <img src="" alt=""> -->
  </button>
</div>

<%= map(:center => {
    :latlng => [29.6481, -82.3441],
    :zoom => @zoom
  },
  :polylines => @polylines
) %>

<script>

function toggleLeftSidebar(){
  if( $('#sideBar-left').hasClass('clicked-left')){
    $('#sideBar-left').removeClass('clicked-left');
    $(".fa-chevron-right").addClass('clicked-chevron');
  } else {
    $('#sideBar-left').addClass('clicked-left');
    $(".fa-chevron-right").removeClass('clicked-chevron');

  }
};

function toggleAccountSidebar(){
  if( $('#sideBar-right').hasClass('clicked-right')){
    $('#sideBar-right').removeClass('clicked-right');
    $('.account-btn').removeClass('account-clicked');
  } else {
    $('#sideBar-right').addClass('clicked-right');
    $('.account-btn').addClass('account-clicked');
  }
};

function fillLeftSidebar(e) {
    var classId = e.target.classList[0];
    var sidebarTitle = $(".title #name");
    var sidebarDescription = $("#description p");
    var sidebarImage = $(".cover img");
    $.getJSON("/info?object_id=" + classId, function(data){
      sidebarTitle.text(data.building.name);
      sidebarDescription.text(data.building.description);
      // sidebarImage.attr("src", "public/uploads/"+data.building.image_path);
    });
    $("#review_obj").val(classId);
 };

$(document).ready(function(){
  map.zoomControl.setPosition('bottomright');
 });

$('#leftside-btn').click(function(){
  toggleLeftSidebar();
});

$('.account-btn').click(function(){
  toggleAccountSidebar();
});

$(".leaflet-container").click(function(e){
  // If the item selected in a building
  if(e.toElement.nodeName === "path"){
    // Open left sidebar
    $('#sideBar-left').removeClass('clicked-left');
    fillLeftSidebar(e);
  } else {
    // Close left sidebar
    $('#sideBar-left').addClass('clicked-left');
  }
});

</script>
