<!-- Hi, you are logged in! -->

<!-- <h1>MapDat</h1>
<p>Find me in app/views/leaflet/index.html.erb</p> -->

<!-- <div id="mapid"></div> -->
<div class="container">
  <%= render "sidebar" %>
    <div id="sideBar-right" class="clicked-right">
    <div class="top-row">
      <h3>Hey there, <span id="user-name">Vincent</span></h3>
      <%= button_to "About", method: :get%>
      <%= button_to "Logout", logout_path, method: :get%>
      <%= button_to "Settings", settings_path, method: :get%>
    </div>
    <%= render 'custom_queries' %>
  </div>

  <button type="button" class="account-btn account-clicked" name="button">
    <!-- <img src="" alt=""> -->
  </button>
</div>

<script>

  $(".render-review-form").show();

  $(".render-review-form").click(function(){
    $(".full-screen-holder").show();
  });

  function fillUserSidebar(){
   $.getJSON("/user_info", function(user){
     $("#user-name").text(user.first_name);
     $(".account-btn").css("background-image", "url(/assets/" + user.img_path + ")");
   });
  };

  $(document).ready(function(){
    fillUserSidebar();
    map.zoomControl.setPosition('bottomright');
   });

</script>