<!-- Hi, you are logged in! -->

<!-- <h1>MapDat</h1>
<p>Find me in app/views/leaflet/index.html.erb</p> -->


<!-- <div id="mapid"></div> -->
<div class="container">
  <div id="sideBar-left" class="clicked-left">
    <div class="searchBar">
      <div id="search-input">
          <div class="input-group col-md-12">
              <input type="text" class="form-control input-lg" placeholder="Search" />
              <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
              </span>
          </div>
      </div>
    </div>
    <div class="sideBar-tab">
      <button class="btn btn-info btn-lg" id="leftside-btn" type="button">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="cover">
      <img src="http://static.panoramio.com/photos/large/53625922.jpg" alt="" />
    </div>
    <div class="title">
      <h3>Marston Science Library</h3>
      <h4>Library</h4>
      <% if params[:show_poi] == 'false' || params[:show_poi].nil? %>
        <%= button_to "Show Points of Interest", show_poi_path, method: :post, params: { zoom: @zoom } %>
      <% else %>
        <%= button_to "Hide Points of Interest", hide_poi_path, method: :post, params: { zoom: @zoom } %>
      <% end %>
    </div>
  </div>
  <div id="sideBar-right" class="clicked-right">
    <div class="top-row">
      <h3>Hey there, Vincent!</h3>
      <%= button_to "About", method: :get%>
      <%= button_to "Logout", logout_path, method: :get%>
      <%= button_to "Settings", settings_path, method: :get %>
    </div>
  </div>
  <button type="button" class="account-btn account-clicked" name="button">
    <!-- <img src="" alt=""> -->
  </button>
</div>

<%= map(:center => {
    :latlng => [29.6481, -82.3441],
    :zoom => @zoom
  },
  :polylines => @polylines
) %>
<script>
$(document).ready(function(){
      $('#leftside-btn').click(function(){
        if( $('#sideBar-left').hasClass('clicked-left')){
          $('#sideBar-left').removeClass('clicked-left');
        } else {
          $('#sideBar-left').addClass('clicked-left');
        }
          console.log("AWWWW YEAHHHH");
      });

      $('.account-btn').click(function(){
        if( $('#sideBar-right').hasClass('clicked-right')){
          $('#sideBar-right').removeClass('clicked-right');
          $('.account-btn').removeClass('account-clicked');
        } else {
          $('#sideBar-right').addClass('clicked-right');
          $('.account-btn').addClass('account-clicked');
        }
          console.log("AWWWW YEAHHHH");
      });

      map.zoomControl.setPosition('bottomright');

 });

 $("path").click(function() {
    var myClass = $(this).attr("class");
    alert(myClass);
 });
</script>
