<%= stylesheet_link_tag "sidebar" %>

<div id="sideBar-left" class="clicked-left">
<!-- <div id="sideBar-left" class="clicked-left"> -->
  <!-- <div class="searchBar">
    <div id="search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn-info btn-lg" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
  </div> -->
  <div class="sideBar-tab">
    <button class="btn-info btn-lg" id="leftside-btn" type="button">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>
  <div class="sideBar-body">
    <div class="cover">
      <img src="http://static.panoramio.com/photos/large/53625922.jpg" alt="" />
    </div>
    <div class="title">
      <img class="title-thumb" src="http://static.panoramio.com/photos/large/53625922.jpg" alt="" />
      <h3 class="title-h3">Marston Science Library</h3>
      <%= render "rating" %>
    </div>
    <div class="sideBar-white">
      <div id="description">
        <p>The University of Florida Marston Science Library
          is the science and engineering library of the University
          of Florida located in Gainesville, Florida, and is
          administered by the university's George A. Smathers
          Libraries system</p>
      </div>
      <div class="divider"></div>
      <%= render "popular-times" %>
      <div class="divider"></div>
      <%= render "icon-stats" %>
      <div class="divider"></div>
      <%= render "restaurant" %>
      <div class="divider"></div>
      <%= render "reviews" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var wrap = $(".sideBar-body");
  wrap.on("scroll", function(e) {

    if (this.scrollTop > 282) {
      $(".title").addClass("title-locked");
      $("#review-row").addClass("title-locked-review");
      $(".sideBar-white").addClass("title-locked-white");
      $(".title-thumb").addClass("title-thumb-locked");
      $(".title-h3").addClass("title-h3-locked");
    } else {
      $(".title").removeClass("title-locked");
      $("#review-row").removeClass("title-locked-review");
      $(".sideBar-white").removeClass("title-locked-white");
      $(".title-thumb").removeClass("title-thumb-locked");
      $(".title-h3").removeClass("title-h3-locked");
    }
  });
</script>
